<ion-view ng-click="click($event)" cache-view="false">
<ion-header-bar align-title="center" class="bar-positive head-account" style="background-color: #99C629;background-image: none;">
<a ng-href="#/regions/{{stateregionId}}">
<button class="button btn-check background-transparent"  style="left:0px" >
  <!-- ui-sref="region({regionId:stateregionId})" -->
  <i class="icon ion-arrow-left-c icon-user-custom-40 color-white"></i>
</button>
</a>

<ul id="menu" ng-show="flagShowMenu">
  <li style="border-top:none">Settings</li>
  <li ng-click="logout()">Logout</li>
</ul>

<h1 class="head-user">{{gCurrentDevice.name}}&nbsp;</h1>
<button class="button btn-check background-transparent" ng-click="flagShowMenu=!flagShowMenu" id="btn-click">
  <i class="icon ion-android-more icon-user-custom-30"></i>
</button>

</ion-header-bar>

<ion-content style="top:58px">
<div class="bridge-control-chart-user">
  <div class="dateSlide">
    <button ng-click="prevouSlide()" class="font-white point-cursor"><i class="ion-chevron-left"></i></button>
    <label ng-show="flagChart==1" class="label-title-day-chart-user">{{toDay | date:'mediumDate'}} </label>
    <label ng-show="flagChart==2" class="label-title-day-chart-user">{{FDay | date:'mediumDate'}} -  {{LDay | date:'mediumDate'}} </label>
    <button ng-click="nextSlide()" class="font-white point-cursor"><i class="ion-chevron-right"></i></button>
  </div>
  <button class="btn-bridge-control-chart-user" ng-class="{active:flagChart == 1}" ng-click="changeDateTime(1)">Day</button>
  <button  class="btn-bridge-control-chart-user" ng-class="{active:flagChart == 2}" ng-click="changeDateTime(2)">Week</button>
  <div class="clearfix"></div>
</div>
<ion-slide-box
    delegate-handle   = "slider-intro"
    on-slide-changed  = "changeCurrentSlideHandler($index)"
    does-continue = "false"
    active-slide="slidestop($index)" style="clear: both;"
>
  <ion-slide>
    <div class="row">
      <highchart id="chart1" config="chartConfig" class="span10"></highchart>
    </div>
    <div class="clearfix"></div>
  </ion-slide>
</ion-slide-box>
<div style="width:90%;margin-left:5%;position:relative;">
  <!-- <div ui-slider="{range: true}" min="0" max="100" ng-model="Slider.position" ng-change="changeSlider()"></div> -->
  <rzslider
    rz-slider-floor="0"
    rz-slider-ceil="100"
    rz-slider-model="position.min"
    rz-slider-high="position.max" rz-slider-translate="translate"></rzslider>
  <!-- <slider floor="1" ceiling="100" ng-model-low="position.min" ng-model-high="position.max" class="slider-User"> 
  </slider> -->
  <!-- <span class="minValue-sliderUser">0%</span>
  <span class="maxValue-sliderUser">100%</span> -->

   <div class="text-center" style="margin-top:25px;">
    {{position.min}} % - {{position.max}} %
   </div>

</div>
<div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Unit
    </div>
    <select>
      <option>oC</option>
      <option selected>oF</option>
      <option>%</option>
    </select>
  </label>

</div>
<button class="button button-dark button-block button-positive">
  Set as region default
</button>
<ul class="list">

  <li class="item item-toggle">
   Alerts
   <label class="toggle toggle-assertive">
     <input type="checkbox" id="chkAlert" ng-model="AlertValue" value="{{AlertValue}}" ng-checked="{{AlertValue}}" ng-change="changeValueAlert()">
     <div class="track">
       <div class="handle"></div>
     </div>
   </label>
 </li>
</ul>
<button class="button button-assertive button-block button-positive" ng-click="Deactivate(false)" ng-show="gCurrentDevice.isActive==true">
  Deactivate node
</button>
<button class="button button-assertive button-block button-positive" ng-click="Deactivate(true)" ng-show="gCurrentDevice.isActive==false">
  Activate node
</button>
</ion-content>
<div class="loading-div-user">
  <div class="content">
  <i class="ion-loading-c"></i>
  <p style="color: white;text-transform: uppercase;">loading</p>
  </div>
</div>
<style type="text/css">
.rzslider span.bar{
  height: 15px!important;
margin-top: -6px!important;
}
.rzslider span.pointer{
  border: 1px solid rgb(103, 183, 0)!important;
}
</style>
</ion-view>

