<ion-view cache-view="false">
  <ion-header-bar align-title="center" class="bar-positive head-account" style="background-color: #99C629;background-image: none;">
    <img src="img/logo.png" style="height:100%">
    <h1 class="head-user"ng-show="tabsLogin == 2">SIGNUP</h1>
    <h1 class="head-user" ng-show="tabsLogin == 1">LOGIN</h1>
    <button class="button btn-check" ng-click="submitUser()">
      <i class="icon ion-android-checkmark icon-user-custom-30"></i>
    </button>
  </ion-header-bar>
  <div class="tabs-striped tabs-top tabs-background-positive tabs-light clearfix" style="border:none;">
    <div class="tabs login-tabs" style="background-color: #2E2E2E;top: 58px;padding: 0 3px 0 3px!important;border:none;">
      <a class="tab-item tab-login color-white" ng-class="{active:tabsLogin == 1}" ng-click="tabsLogin=1">
        Login
      </a>
      <a class="tab-item tab-login color-white" ng-class="{active:tabsLogin == 2}" ng-click="tabsLogin=2">
        Signup
      </a>
    </div>
  </div>
  <ion-content ng-show="tabsLogin==1" style="top:95px">
    <div class="row mt-30">
      <div class="col col-80 col-offset-10">
        <span class="sign-up-title background-transparent">
          SmartGrow
        </span>
      </div>
      
    </div>
    <div class="row" style="margin-top:3px">
      <div class="col col-80 col-offset-10">
        <label class="item item-input input-item-user">
          <input type="email"  ng-model="userlogin.email"  placeholder="Email" id="emaillogin" value="vudinhhung92@gmail.com">
        </label>
      </div>
    </div>
    <div class="row mt-7">
      <div class="col col-80 col-offset-10">
        <label class="item item-input input-item-user">
          <input type="password"  ng-model="userlogin.password" placeholder="Password" value="12345678" ng-keypress="activeForm($event)">
        </label>
      </div>
    </div>
    <div class="row mt-20">
      <div class="col col-80 col-offset-10 text-center" style="color:#A7A7A7">
          <a href="#" class="decoration-none">Forgot password?</a>
          
      </div>
      
    </div>
  </ion-content>

  <ion-content ng-show="tabsLogin==2" style="top:95px">
    <div class="row mt-30">
      <div class="col col-80 col-offset-10">
        <span class="sign-up-title">
          SmartGrow
        </span>
      </div>
    </div>
    <div class="row mt-20">
      <div class="col col-80 col-offset-10">
        <label class="item item-input input-item-user">
          <input type="email"  ng-model="userSignUp.email" placeholder="Email" id="emailsignup">
        </label>
      </div>
    </div>
    <div class="row mt-7">
      <div class="col col-80 col-offset-10">
        <label class="item item-input input-item-user">
          <input type="password"  ng-model="userSignUp.password" placeholder="Password">
        </label>
      </div>
    </div>
    <div class="row mt-7">
      <div class="col col-80 col-offset-10">
        <label class="item item-input input-item-user">
          <input type="password" placeholder="Password"  ng-model="userSignUp.repassword" ng-keypress="activeForm($event)">
        </label>
      </div>
    </div>
  </ion-content>
<div class="loading-div-user">
  <div class="content">
  <i class="ion-loading-c"></i>
  </div>
</div>
</ion-view>

