<ion-view cache-view="false">
  <ion-header-bar align-title="center" class="bar-positive head-account" style="background-color: #99C629;
background-image: none;
">
<a ng-href="#/regions">
  <button class="button btn-check background-transparent"  style="min-height: 58px;left: 0px">
    <!-- ui-sref="regions" -->
      <i class="icon ion-chevron-left color-white"></i>
    </button>
  </a>
    <h1 class="head-user">NEW REGION&nbsp;</h1>
    <button class="button btn-check" ng-click="AddRegion()">
      <i class="icon ion-android-checkmark"></i>
    </button>
  </ion-header-bar>

  <ion-content style="top:58px;display: -moz-box;-moz-box-pack: center;-moz-box-align: center;display: -webkit-box;-webkit-box-pack: center;-webkit-box-align: center;">
      <div>
        <label class="item item-input input-item-user">
          <input type="text" placeholder="Location name" ng-model="NewRegion.name">
        </label>
      </div>
  </ion-content>
</ion-view>

