<ion-view ng-click="click($event)" cache-view="false">
  <ion-header-bar align-title="center" class="bar-positive head-account" style="background-color:#9CBB4A;
background-image: none;
">
<img src="img/logo.png" style="height:100%">
<ul id="menu" ng-show="flagShowMenu">
  <li style="position: relative;padding: 0;height: 42px;"><a ng-href="#/regions/newRegion" class="alink"><span style="position: absolute;width: 100%;height: 42px;padding: 10px;">New region</span></a></li>
  <!-- ui-sref="newRegion" -->
  <li ng-click="logout()">Logout</li>
</ul>
    <h1 class="head-user" >
      Regions
      <span style="font-size: 15px;background: red;border-radius: 50%!important;font-weight: bold;position: absolute;top: 1px;width: 24px;height: 24px;padding: 0;line-height: 1.55;text-align: center;">{{gListRegion.length}}&nbsp;</span>
    </h1>
    <button class="button btn-check background-transparent"  ng-click="flagShowMenu=!flagShowMenu" id="btn-click" style="position: absolute;">
      <i class="icon ion-android-more icon-user-custom-30" style="color:#606C44"></i>
    </button>
  </ion-header-bar>

  <ion-content style="top:58px">
    <div class="list">
      <!--  ui-sref="region({regionId:region.id})" -->
  <a class="item" ng-href="#/regions/{{region.id}}"  ng-repeat="region in gListRegion">
    {{region.name}}
    <span class="item-note" style="color:red;font-weight:bold">
      {{region.nodes}}
    </span>
    </a>
  </div>
  </ion-content>
  <div class="loading-div-user">
  <div class="content">
  <i class="ion-loading-c"></i>
  <p style="color: white;text-transform: uppercase;">loading</p>
  </div>
</div>
</ion-view>

