<ion-view cache-view="false">
  <ion-header-bar align-title="center" class="bar-positive head-account" style="background-color: #99C629;
background-image: none;
">
<img src="img/logo.png" style="height:100%">
<a ng-href="#/regions/{{stateregionId}}">
  <button class="button btn-check background-transparent" >
    <!--  ui-sref="region({regionId:stateregionId})" -->
      <i class="icon ion-arrow-left-c color-white icon-user-custom-40"></i>
    </button>
  </a>
    <h1 class="title">Scan QR Code&nbsp;</h1>
    <button class="button btn-check" ng-click="saveNode()" style="right: 0px;top: 0px;height: 58px;"><i class="icon ion-android-checkmark icon-user-custom-30"></i></button>
  </ion-header-bar>

  <ion-content style="top:58px;">
        <div class="list" style="padding:5px">
          <label class="item item-input item-stacked-label" style="padding: 5px 10px;border: none;margin-right: 34px;">
            <span class="input-label">Label</span>
            <div class="item item-icon-left" style="padding:0px">
              <input type="text" ng-model="newNode.label"  placeholder="Label"   style="background: #F0F0F0;padding: 5px 10px;">
              </div>
          </label>

          <label class="item item-input item-stacked-label" style="padding: 5px 10px;border: none;">
            <span class="input-label">Name</span>
            <input type="text" placeholder="Name" ng-model="newNode.name" style="background: #F0F0F0;padding: 5px 10px;">
          </label>
        </div>
        <div style="clear:both"></div>
        <button class="button-block button-info-user button-right-input" ng-click="scanBarcode()">
          <i class="ion-camera"></i>
        </button>
  </ion-content>
</ion-view>

