<ion-view cache-view="false">
  <ion-header-bar align-title="center" class="bar-positive head-account" style="background-color: #99C629;
background-image: none;
">
    <h1 class="head-user">ACCOUNT INFO</h1>
    <button class="button btn-check" >
      <i class="icon ion-android-checkmark icon-user-custom-30"></i>
    </button>
  </ion-header-bar>

  <ion-content style="top:95px">
    <div class="row padding-top-15">
      <div class="col col-80 col-offset-10">
        <label class="item item-input input-item-user">
          <input type="email" placeholder="email">
        </label>
      </div>
    </div>
    <div class="row padding-top-15">
      <div class="col col-80 col-offset-10">
        <label class="item item-input input-item-user">
          <input type="password" placeholder="new password">
        </label>
      </div>
    </div>
    <div class="row padding-top-15">
      <div class="col col-80 col-offset-10">
        <label class="item item-input input-item-user">
          <input type="password" placeholder="comfirm new password">
        </label>
      </div>
    </div>
  </ion-content>
</ion-view>

