<ion-view ng-click="click($event)" cache-view="false">
<ion-header-bar align-title="center" class="bar-positive head-account" style="background-color: #A1BF54;
background-image: none;
">
<img src="img/logo.png" style="height:100%">
<ul id="menu" ng-show="flagShowMenu">
	<li style="position: relative;padding: 0;height: 42px;"><a ng-href="#/regions" style="color: white;text-decoration: none;"><span style="position: absolute;width: 100%;height: 42px;padding: 10px;">Change region</span></a></li>
	<!-- ui-sref="regions({reload: true})" -->
	<li style="position: relative;padding: 0;height: 42px;"><a style="color: white;text-decoration: none;" ng-href="#/regions/{{stateregionId}}/newNode"><span  style="position: absolute;width: 100%;height: 42px;padding: 10px;">New node</span></a></li>
	<!-- ui-sref="newNode({regionId:stateregionId})" -->
	<li>Settings</li>
	<li ng-click="logout()">Logout</li>
</ul>
<h1 class="head-user" >
	<strong style="position:relative">
		{{gCurrentRegion.name}}&nbsp;
		<span style="font-size: 15px;background: red;border-radius: 50%!important;font-weight: bold;position: absolute;top: -18px;width: 24px;height: 24px;padding: 0;line-height: 1.55;text-align: center;">
			{{gListDevice.length}}
		</span>
	</strong>
	
</h1>
<button class="button btn-check background-transparent" ng-click="flagShowMenu=!flagShowMenu" id="btn-click" style="position: absolute;">
	<i class="icon ion-android-more icon-user-custom-30" style="color:#606C44"></i>
</button>
</ion-header-bar>

<ion-content style="top:58px">
<div class="list">

<!-- ui-sref="bridge({regionId:stateregionId,id:node.id})" -->
	<a class="item" ng-href="#/regions/{{stateregionId}}/bridge/{{node.id}}" ng-repeat="node in gListDevice" ng-repeat="node in gListDevice">
		{{node.name}}
		<span class="item-note" style="color:green;font-weight:bold;font-size: 23px;margin-top: 10px;">
				69%
		</span>
		<div style="font-size:10px" ng-bind-html="node.labelString">
		</div>
	</a>
</div>
</ion-content>
<div class="loading-div-user">
  <div class="content">
  <i class="ion-loading-c"></i>
  <p style="color: white;text-transform: uppercase;">loading</p>
  </div>
</div>
</ion-view>

