/* Empty. Add your own CSS if you like */
/*.highcharts-container{
	width: 100%!important;
}*/
.btn-check{
/*	top:0px!important;
	right:0px!important;
	bottom:0px!important;
	width: 58px!important;
	color: #999999!important;
	background: white!important;
	border: none!important;*/
}
.head-account{
	/*background-image: url(../img/head-top.png)!important;*/
	/*background-size: 100%!important;*/
	background-color: darkcyan!important;
	height: 58px!important;
	border: none!important;
}
.icon-user-custom-40, .icon-user-custom-40:before{
	font-size: 40px!important;
}
.icon-user-custom-30, .icon-user-custom-30:before{
	font-size: 30px!important;
}
.head-account h1{
	line-height: 58px!important;
}
.clearfix{
	clear: both;
}
.color-green-user{
	color: #BCD96D!important;
}
.color-black-user{
	color: #2E2E2E!important;
}
.color-white{
	color: white!important;
}
.login-tabs{
	line-height: 35px!important;
	height: 35px!important;
}
.tab-login{
	max-width: 100%!important;	
}
.tabs-top.tabs-striped .tab-item.tab-item-active, .tabs-top.tabs-striped .tab-item.active, .tabs-top.tabs-striped .tab-item.activated{
	border-color: #BCD96D;
	border-width: 0px 0px 7px 0px;
}
.tabs-top.tabs-striped .tab-item.tab-item-active, .tabs-top.tabs-striped .tab-item.active, .tabs-top.tabs-striped .tab-item.activated{
	border-width: 0px 0px 7px 0px!important;

}
.input-item-user{
	padding: 0 0 0 16px;
border-radius: 7px;
background-color: #F0F0F0;
border: none;
height: 30px;
}
.sign-up-title{
	margin: 0 auto;
	text-align: center;
	display: table;
	font-size: 2em;
	font-weight: bold;
	background: #F4F4FE;
	padding: 25px 0;
}
.text-center{
	text-align: center;
}
.background-transparent{
background-color: transparent!important;
}
.padding-top-15{
	padding-top: 15px!important;
}
.mt-30{
	margin-top: 30px!important;
} 
.mt-20{
	margin-top: 20px!important;
} 
.mt-10{
	margin-top: 10px!important;
} 
.mt-7{
	margin-top: 7px!important;
} 
.button-line-40{
	line-height: 35px!important;
	min-height: 40px!important;
}
.border-none{
	border: none!important;
}
.point-cursor{
	cursor: pointer;
}
.decoration-none {
	text-decoration: none;
}

#menu{
	position: absolute;
	right: 0;
	top: 58px;
	background: #111111;
}
#menu li{
	cursor: pointer;
	padding: 10px;
	border-top: 2px solid #DCDCDC;
	width: 200px;
}
.chart{
	width: 100%;
	height: 300px;
}

.chart-wrapper {
 position: relative!important;
    padding-bottom: 40%!important;
}

.chart-inner {
position: absolute!important;
    width: 100%; height: 100%!important;
}

.button-info-user {
border-color: #498f24;
background-color: #66cc33;
color: #fff;
}
.button-info-user.active, .button-info-user.activated {
border-color: #498f24;
background-color: #498f24;
box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
}
.button-right-input{
	position: absolute!important;
	width: 35px!important;
	height: 35px!important;
	top: 34px!important;
	right: 13px!important;
	margin:0px!important;
	border: none!important;
	font-size: 20px!important;
}
.bar .title{
	height: 58px!important;
}

.bridge-control-chart-user{
	background: #060606;
	height: 30px;
	color: white;
	min-height: 30px;
}
.btn-bridge-control-chart-user{
	float: right;
	height: 30px;
	min-height: 30px;
	border-width: 0px 0px 7px !important;
	border-bottom-color: #060606;
	background: #060606;
	color: white;
	width: 60px;
	text-align: center;
}
.label-title-day-chart-user{
	height: 30px;
	line-height: 2;
	/*padding-left: 10px;*/
	min-height: 30px;
}
.btn-bridge-control-chart-user.active{
	border-bottom-color:#BCD96D;
} 


.head-user{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 0;
	overflow: hidden;
	margin: 0 10px;
	min-width: 30px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 17px;
	font-weight: 500;
	line-height: 58px!important;
	color: #fff;
	height: 58px!important;
}

.bar-positive .button {
background-color: white;
color: #999999;
top: 0px;
right: 0px;
bottom: 0px;
position: absolute;
border: none;
width: 58px;
color: #999999;
}
.bar-positive .button:hover,.bar-positive .button:focus,.bar-positive .button:active{
	color: #999999;
	background: white;
}
.slider-pager{
	display: none;
}
.font-white{
	color: white;
}
.dateSlide{
	padding-left: 5px;
	float: left;
}
.dateSlide button{
	background: transparent;
	border: none;
	padding: 5px 15px;
}
.action-sheet-title{
	color: red;
	background: #ddd;
}
.action-sheet-backdrop.active{
	/*background-color: transparent;*/
	/*position: absolute;
	height: 45px;	
	width: 100%;
	bottom: 0;*/
}
.slider-User{

}
.slider-User .bar{
	height: 40px;
	border-radius: 27px;
/*	background: white;
	box-shadow: none;
	border: 1px solid #00a8f3;*/
}
.slider-User .bar.selection{
	height: 40px;
	border-radius: 0px;
/*	box-shadow: none;
	border: 1px solid #00a8f3;*/
}

.slider-User .pointer{
	top: -8px;
	width: 55px;
	height: 55px;
	border-radius: 50%;
/*	background-color: red; 
	border: 1px solid red;*/
}
.slider-User .pointer:after{
	background-color:none;
	content: '';
	width: 0px;
	height: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-border-radius: 1em/1em;
	border-radius: 1em/1em;
}
.maxValue-sliderUser{
	position: absolute;
	top: -20px;
	right: 0px;
}
.minValue-sliderUser{
	position: absolute;
	top: -20px;
	/*left: 95%;*/
}
.alink{
	color: white;
	text-decoration: none;
}
.alink:active, .alink:focus {
	color:white;
}

.loading-div-user{
	 height: 100%;
	 position: absolute;    top: 0;    bottom: 0;    height: 100%;width: 100%;    left: 0;
    text-align: center;
    background: black;
    opacity: 0.26;
    z-index: 99999;
    display: none;
}
.loading-div-user .content{
	margin: 0 auto;
    position: absolute;
    top: 50%;
    text-align: center;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
}
.loading-div-user .content i{
	top: 50%;
    font-size: 50px;
    color: white;
}
.ui-slider .ui-slider-handle{
	width: 30px;
	height: 30px;
}
.ui-slider-horizontal{
	height: 21px;
}
.bubble{
	display: none!important;
}
.rzslider span.bar{
	height: 15px!important;
margin-top: -6px!important;
}
.rzslider span.pointer{
	border: 1px solid rgb(103, 183, 0)!important;
}